<header class="header">
  <a class="header__title" href="{{ '/' | absolute_url }}" style="text-decoration: none"> 
    <!-- <img style="float: left; margin: 100px 5px 5px 0px;" src="assets\images\newdegeneration_banner.png"/> -->
<pre>




 ███▄    █ ▓█████  █     █░▓█████▄ ▓█████   ▄████ ▓█████  ███▄    █ 
 ██ ▀█   █ ▓█   ▀ ▓█░ █ ░█░▒██▀ ██▌▓█   ▀  ██▒ ▀█▒▓█   ▀  ██ ▀█   █ 
▓██  ▀█ ██▒▒███   ▒█░ █ ░█ ░██   █▌▒███   ▒██░▄▄▄░▒███   ▓██  ▀█ ██▒
▓██▒  ▐▌██▒▒▓█  ▄ ░█░ █ ░█ ░▓█▄   ▌▒▓█  ▄ ░▓█  ██▓▒▓█  ▄ ▓██▒  ▐▌██▒
▒██░   ▓██░░▒████▒░░██▒██▓ ░▒████▓ ░▒████▒░▒▓███▀▒░▒████▒▒██░   ▓██░
░ ▒░   ▒ ▒ ░░ ▒░ ░░ ▓░▒ ▒   ▒▒▓  ▒ ░░ ▒░ ░ ░▒   ▒ ░░ ▒░ ░░ ▒░   ▒ ▒ 
░ ░░   ░ ▒░ ░ ░  ░  ▒ ░ ░   ░ ▒  ▒  ░ ░  ░  ░   ░  ░ ░  ░░ ░░   ░ ▒░
   ░   ░ ░    ░     ░   ░   ░ ░  ░    ░   ░ ░   ░    ░      ░   ░ ░ 
</pre>
</a>

  {% include navigation.html %}
</header>
