<article class="posts__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <a class="posts__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
    {% if post.image %}
      <figure class="posts__img">
        <img src="{{ post.image }}" alt="{{ post.title }}" data-aos="spin" itemprop="image"/>
      </figure>
    {% endif %}
    <div>
      <strong itemprop="name"> {{ post.title }} <br/> {{post.prevodot}}</strong> <br/> <span itemprop="description">{{ post.description | strip_html | truncatewords: 35, "" }}</span>
    </div>
  </a>
</article>

<!-- koment smeni post.content s .description i si -->