//----------------------------------------------
// Header
//---------------------------------------------- 
.header {
  @extend %letter-spacing;
  @extend %box-shadow;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-999;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  width: 100%;
  padding: {
    right: 1em;
    left: 1em;
  }

  background-color: $color-white;
  border-bottom: $border;

  
  @media (min-width: $mq-small) {
    padding: {
      right: 2em;
      left: 2em;
    }
  }

  &__title {
    @extend %font-header;
    @include responsive-font(1.25vw, 0.25vw, 16px, 16px);
    ///font-size: 1vh;
    
    color: $color-black;

  }

  &__list {
    @extend %no-list-style;
     

	display: flex;
  align-items: center;
  
	& > * {
	  @extend %font-header;
    @include responsive-font(1.8vmax, 1.35vh, 23px, 16px);
    
       ///font-size: 1.25vmax;
	
	  &:not(:last-child) {
	    margin-right: 0.5em;

	    @media (min-width: $mq-small) {
      margin-right: 1em;
	    }
	  }
	
	  a {
	    color: $color-black;
	    
	  }
  }
  }
}