---
layout: default
---
<section class="post">

  
  <div>
    <div class="post__header section-padding--double">
      <div class="grid-small">
        <h2>{{ page.title }}</h2>
      </div>
    </div>

    {% if page.image %}
      <div class="post__img">
        <div>
          <figure class="absolute-bg" style="background-image: url('{{ page.image }}');"></figure>
        </div>
      </div>
    {% endif %}

    
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
      kofiWidgetOverlay.draw('newdegeneration', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Support me',
        'floating-chat.donateButton.background-color': '#323842',
        'floating-chat.donateButton.text-color': '#fff'
      });
    </script>

    <div class="post__content section-padding">
      <div class="grid">
        <div id="markdown">
          {{content}}
        </div>
      </div>
    </div>
  </div>
</section>
