---
layout: default
---

<section class="mast section-padding--double">
  <div class="grid">
    <h1>
      {{ page.autopages.display_name }}
    </h1>
          {% assign tag_name = page.autopages.display_name %}
          {% for topic in site.data.topics %}
            {% if topic.display_name == tag_name %}
              <div>
                <p>{{ topic.display_description }}</p>
              </div>
            {% endif %}
          {% endfor %}
  </div>
</section>

<div class="section-padding--none">
  <div class="grid-large">
    <hr class="sep"/>
  </div>
</div>


<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in paginator.posts %}
        {% include post-card.html %}
      {% endfor %}


    </div>
  </div>

  {% include pagination.html %}
</div>
